@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <link rel="stylesheet" href="~/css/about.css"/>
    <!-- Main content of the About Us Page -->
    <section class="about-us-section">
        <h2 style="font-family: 'PP Hatton bold'; color: black;">About PropertEase</h2>
        <p class="lead">
            PropertEase is a digital platform designed to connect real estate agents with potential clients and buyers.
            Our
            goal is to simplify the process of buying, renting, and selling properties through an easy-to-use online
            interface.
        </p>
        <div class="container-fluid mt-5 bg-light pt-3 pb-5 shadow-box" style="border-radius: 20px;">
            <h4 class="mt-5">Our Mission</h4>
            <p>
                At PropertEase, we strive to make property transactions more accessible and transparent. We aim to empower
                agents to reach more clients by providing a space to post their property ads and connect with buyers and
                renters
                in a seamless manner.
            </p>
            <h4 class="mt-5">Why Choose PropertEase?</h4>
            <ul>
                <li>
                    Wide reach for agents to advertise their listings to a broad audience of potential buyers and renters.
                </li>
                <li>
                    Clients get the opportunity to connect directly with agents without intermediaries, ensuring better
                    communication and transparency.
                </li>
                <li>
                    We provide an intuitive and user-friendly platform to enhance the experience of buying, selling, and
                    renting
                    properties.
                </li>
            </ul>
            <h4 class="mt-5">How It Works</h4>
            <p>
                We connect agents with prospective buyers and renters, allowing them to post property ads for sale and rent
                on
                our platform. Clients can explore these listings and directly reach out to the agents to inquire further or
                schedule a viewing.
            </p>
        </div>
        <div class="container-fluid mt-5 border pb-3 shadow-box"
             style="background-color: black; border-radius: 20px; color:white">
            <h4 class="mt-5" style="color:#FED7AA">What We Offer</h4>
            <ul style="list-style-type: none;">
                <li>
                    <i class="bi bi-check-circle-fill me-1" style="color: #ff7525;"></i><strong>Agent Platform:</strong>
                    Agents can create accounts and post ads for properties they wish to rent
                    or
                    sell.
                </li>
                <li>
                    <i class="bi bi-check-circle-fill me-1" style="color: #ff7525;"></i><strong>Easy Search:</strong>
                    Clients
                    and buyers can easily browse properties listed by agents in their
                    desired location.
                </li>
                <li>
                    <i class="bi bi-check-circle-fill me-1" style="color: #ff7525;"></i><strong>
                        Seamless
                        Connection:
                    </strong>
                    Our platform facilitates easy communication between agents and
                    clients
                    through messaging features.
                </li>
            </ul>
        </div>
        <div class="mt-5 bg-light pt-5 pb-3 mb-5 shadow-box" style="border-radius: 20px;">
            <h4>Join Us</h4>
            <p>
                Whether you are a real estate agent looking to grow your business, or a client looking for your next
                property,
                PropertEase is the perfect place to start. Sign up today and become a part of our community!
            </p>
        </div>
    </section>
</div>